<ul>
    <li><a href="javascript:void();" routerLink="dashboard0">Dashboard Demo</a></li>
    <li><a href="javascript:void();" routerLink="example1">Text box</a></li>
    <li><a href="javascript:void();" routerLink="example2">Button Click</a></li>
    <li><a href="javascript:void();" routerLink="example2">Hero Project</a>
        <ul>
            <li><a href="javascript:;" routeLink="">Dashboard</a></li>
            <li><a href="javascript:;" routeLink="">Heros</a></li>
        </ul>
    </li>
</ul>
